---
layout: default
title: Home
---

    {% for post in paginator.posts %}
    <article role="article">
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      <div class="article-meta">
        <date datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</date> &middot;
        <a rel="tag" href="/{{ post.category}}">{{ post.category }}</a>
      </div>
      <div class="article-content">
        {{ post.content }}
      </div>
    </article>
    <hr />
    {% endfor %}
    
    
    <!-- Pagination links -->
<!--    <div id="pagination">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <a rel="prev" href="/">&larr; Back</a> &middot;{% else %}
          {% else %}
        <a rel="prev" href="/page{{ paginator.previous_page }}/">&larr; Back</a> &middot;
          {% endif %}
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %} &middot; 
        <a href="/page{{ paginator.next_page }}" class="next">Next &rarr;</a>
      {% endif %}
    </div>-->
    

    <nav id="pages" role="navigation">
        <ul>{% if paginator.previous_page %}{% if paginator.previous_page == 1 %}
          <li><a rel="prev" href="{{ site.baseurl }}/">&larr; Previous</a></li>{% else %}
          <li><a rel="prev" href="{{ site.baseurl }}/page{{ paginator.previous_page }}/">&larr; Previous</a> &middot;</li>{% endif %}{% endif %}
          <li><span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span></li>{% if paginator.next_page %}
          <li><a rel="next" href="{{ site.baseurl }}/page{{ paginator.next_page }}/">&middot; Next &rarr;</a></li>{% endif %}
        </ul>
      </nav>
    
<!-- Written with Ruben
    <dl>{% for post in site.posts %}
    <dt><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></dt>
      <dd>{{ post.date | date_to_long_string }}</dd>
{% endfor %}</dl> -->


