---
layout: nil
---

/*  MAIN RESET  ***************************************************************/

html,body,h1,h2,h3,form,fieldset,nav ul,nav li {
	background:transparent;
  border:0px;
  list-style-type:none;
	margin:0px;
	padding:0px;
	vertical-align:baseline;
  word-wrap:normal;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,nav,section {
  display:block;
}
img {
  display:inline; /* FIREFOX/NETSCAPE FIX */
}

/*  TOP LEVEL  ****************************************************************/
html {
  background-color:white;
  padding:0 20px;
  text-align:center; /* CENTERING FOR IE */
}
body {
  background:white;
  font:13px "Helvetica Neue","Helvetica","Liberation Sans",sans-serif;
  margin:0px auto; /* CENTERING FOR EVERYONE ELSE */
  padding-right:20px;
  text-align:left; /* TO FIX CENTERING IE HACK ABOVE */
  width:800px;
}
a {
  text-decoration:none;
  color:#000;
}
a:hover {
  color:#888;
  text-decoration:none;
}
img { 
  display:inline;
  max-width:500px;
  border: 5px solid #000;
}
hr {
	background-color: #c1c1c1;
	border: none;
	height: 1px;
	margin: 10px 0px 10px 0px;
}
dd {
  padding-top:3px;
  padding-bottom:10px;
  font-size:12px;
  text-transform:uppercase;
  letter-spacing:3px;
  margin-left:20px;
  color:#888;
}

/*  SIDEBAR  ******************************************************************/

header img {
  border:none;
  margin-top:0px;
  margin-right:10px;
  margin-left:5px;
  border:none;
}
#sidebar {
  float:left;
  margin-bottom:20px;
  margin-right:20px;
  text-align:right;
  width:220px;
  height:100%;
  position:absolute;
  /*border-right:1px solid #990000;
  border-left:1px solid #990000;*/
}
#sidebar img {
  border:none;
}
#train {
  margin-top:80px;
  padding-right:10px;
}
#sidebar nav ul a {
  text-transform:uppercase;
  border-bottom:1px solid black;
  color:#000;
  margin-right:7px;
}
#sidebar nav ul a:hover{
  border-bottom:1px solid red;
}

/*  NAVIGATION  */

#sidebar nav ul {
  margin-bottom:20px;
  text-spacing:2px;
  font-size:11px;
}
#sidebar nav ul, nav li {
  margin:0;
  padding:0;
}
#sidebar nav li {
  display:inline;
  padding: 0 5px;
}

/*  SEARCHBOX  */
/* Copied and modified from Rubenerd */
::-webkit-input-placeholder { color:#c1c1c1 }
:-moz-placeholder { color:#c1c1c1 } /* FF 18 */
::-moz-placeholder { color:#c1c1c1 } /* FF 19+ */
:-ms-input-placeholder { color:#c1c1c1 } /* IE10 */
#search input[type="text"] {
  border:1px solid #c1c1c1;
  font-size:1em;
  padding:2px;
  width:155px;
  align:left;
  margin-right:10px;
}
#search input[type="submit"] { 
  visibility:hidden;
}
legend {
  visibility:hidden;
}

/*  HOME SECTION  *************************************************************/

section,footer {
  margin-left:245px;
}

/*  ARTICLES/PAGES  ***********************************************************/

article, section {
  padding-top:15px;
  /*padding:45px 20px 20px 20px;
  font-size:13px;*/
}
article a {
  text-decoration:none;
  color:#000;
  border-bottom:1px solid black;
}
article a:hover {
  color:#888;
  text-decoration:none;
  border-bottom:1px solid red;
}
.article-meta {
  margin-top:15px;
}
footer, .article-meta, #pagination, #pages {
	font-size:11px;
	color:#000;
  letter-spacing:2px;
}
#pagination, #pages {
  font-size:12px;
}
#pages ul li {
  display:inline;
  width:100%;
}

/*  FOOTER ********************************************************************/

footer{
  padding-bottom:40px;
}
footer a{
	border-bottom:1px solid #888;
}
footer a:hover {
	color:#888;
  border-bottom:1px solid red;
}

/*  EOF  **********************************************************************/